<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dfa.diaspora_android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:name="com.github.dfa.diaspora_android.App"
        android:label="@string/app_name"
        android:theme="@style/DiasporaLight" >

        <provider
            android:name="com.github.dfa.diaspora_android.service.HashtagContentProvider"
            android:authorities="com.github.dfa.diaspora_android.mainactivity" />

        <service
            android:name="com.github.dfa.diaspora_android.service.FetchPodsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activity.SettingsActivity"
            android:launchMode="singleInstance"
            android:theme="@style/DiasporaLight.NoActionBar"
            android:label="@string/settings" />

        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/about_activity__title_about_app"
            android:theme="@style/DiasporaLight.NoActionBar"/>

        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/DiasporaLight.NoActionBar"
            android:label="@string/diaspora">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <!-- Hashtag click intent from HtmlTextViews -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.cc.tag" />
            </intent-filter>

            <!-- Intent from Web Browser / Mail / IM / Clickable Link -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!--@@@ PODLIST START-->
                <data android:host="joindiaspora.com" android:scheme="https" />
                <data android:host="diasporaaqmjixh5.onion" android:scheme="http" />
                <data android:host="pod.geraspora.de" android:scheme="https" />
                <data android:host="diasp.org" android:scheme="https" />
                <data android:host="framasphere.org" android:scheme="https" />
                <data android:host="nerdpol.ch" android:scheme="https" />
                <data android:host="despora.de" android:scheme="https" />
                <data android:host="sechat.org" android:scheme="https" />
                <data android:host="sechatqpscuj2npx.onion" android:scheme="http" />
                <data android:host="berdaguermontes.eu" android:scheme="https" />
                <data android:host="berlinspora.de" android:scheme="https" />
                <data android:host="community.kanalinseln.de" android:scheme="https" />
                <data android:host="d.consumium.org" android:scheme="https" />
                <data android:host="dia.manuelbichler.at" android:scheme="https" />
                <data android:host="dia.myocastor.de" android:scheme="https" />
                <data android:host="diapod.net" android:scheme="https" />
                <data android:host="diapod.org" android:scheme="https" />
                <data android:host="diasp.ca" android:scheme="https" />
                <data android:host="diasp.cz" android:scheme="https" />
                <data android:host="diasp.de" android:scheme="https" />
                <data android:host="diasp.eu" android:scheme="https" />
                <data android:host="diasp.eu.com" android:scheme="https" />
                <data android:host="diasp.nl" android:scheme="https" />
                <data android:host="diaspod.de" android:scheme="https" />
                <data android:host="diaspora-fr.org" android:scheme="https" />
                <data android:host="diaspora.alfter.us" android:scheme="https" />
                <data android:host="diaspora.bohramt.de" android:scheme="https" />
                <data android:host="diaspora.com.ar" android:scheme="https" />
                <data android:host="diaspora.deadhexagon.com" android:scheme="https" />
                <data android:host="diaspora.digi-merc.org" android:scheme="https" />
                <data android:host="diaspora.dorf-post.de" android:scheme="https" />
                <data android:host="diaspora.espiritolivre.org" android:scheme="https" />
                <data android:host="diaspora.horwood.biz" android:scheme="https" />
                <data android:host="diaspora.hzsogood.net" android:scheme="https" />
                <data android:host="diaspora.kapper.net" android:scheme="https" />
                <data android:host="diaspora.koehn.com" android:scheme="https" />
                <data android:host="diaspora.kosebamse.com" android:scheme="https" />
                <data android:host="diaspora.lebarjack.com" android:scheme="https" />
                <data android:host="diaspora.microdata.co.uk" android:scheme="https" />
                <data android:host="diaspora.moosje.nl" android:scheme="https" />
                <data android:host="diaspora.net.gr" android:scheme="https" />
                <data android:host="diaspora.permutationsofchaos.com" android:scheme="https" />
                <data android:host="diaspora.pimpmypony.eu" android:scheme="https" />
                <data android:host="diaspora.pingupod.de" android:scheme="https" />
                <data android:host="diaspora.podzimek.org" android:scheme="https" />
                <data android:host="diaspora.poleni.com" android:scheme="https" />
                <data android:host="diaspora.psyco.fr" android:scheme="https" />
                <data android:host="diaspora.punkbeer.me" android:scheme="https" />
                <data android:host="diaspora.raven-ip.com" android:scheme="https" />
                <data android:host="diaspora.retrodigital.net" android:scheme="https" />
                <data android:host="diaspora.soh.re" android:scheme="https" />
                <data android:host="diaspora.subsignal.org" android:scheme="https" />
                <data android:host="diaspora.trash-talk.de" android:scheme="https" />
                <data android:host="diaspora.u4u.org" android:scheme="https" />
                <data android:host="diaspora.unixcorn.org" android:scheme="https" />
                <data android:host="diasporabr.com.br" android:scheme="https" />
                <data android:host="diasporabrazil.org" android:scheme="https" />
                <data android:host="diasporapr.tk" android:scheme="https" />
                <data android:host="diasporing.ch" android:scheme="https" />
                <data android:host="distributed.chat" android:scheme="https" />
                <data android:host="espora.com.es" android:scheme="https" />
                <data android:host="espora.social" android:scheme="https" />
                <data android:host="failure.net" android:scheme="https" />
                <data android:host="flokk.no" android:scheme="https" />
                <data android:host="freehuman.fr" android:scheme="https" />
                <data android:host="iliketoast.net" android:scheme="https" />
                <data android:host="jons.gr" android:scheme="https" />
                <data android:host="kapok.se" android:scheme="https" />
                <data android:host="karmasphe.re" android:scheme="https" />
                <data android:host="laba.mba" android:scheme="https" />
                <data android:host="liberdade.digital" android:scheme="https" />
                <data android:host="librenet.co.za" android:scheme="https" />
                <data android:host="librenet.gr" android:scheme="https" />
                <data android:host="misamigos.online" android:scheme="https" />
                <data android:host="mondiaspora.net" android:scheme="https" />
                <data android:host="networkwizard.de" android:scheme="https" />
                <data android:host="nx-pod.de" android:scheme="https" />
                <data android:host="pe.spbstu.ru" android:scheme="https" />
                <data android:host="pod.4ray.co" android:scheme="https" />
                <data android:host="pod.8n1.org" android:scheme="https" />
                <data android:host="pod.alterworld.info" android:scheme="https" />
                <data android:host="pod.asap-soft.com" android:scheme="https" />
                <data android:host="pod.cannyfoxx.me" android:scheme="https" />
                <data android:host="pod.cyberdungeon.de" android:scheme="https" />
                <data android:host="pod.dapor.net" android:scheme="https" />
                <data android:host="pod.datenknoten.me" android:scheme="https" />
                <data android:host="pod.diaspora.software" android:scheme="https" />
                <data android:host="pod.dirkomatik.de" android:scheme="https" />
                <data android:host="pod.disroot.org" android:scheme="https" />
                <data android:host="pod.gedankenausbruch.com" android:scheme="https" />
                <data android:host="pod.gleisnetze.de" android:scheme="https" />
                <data android:host="pod.goodsharing.at" android:scheme="https" />
                <data android:host="pod.hashtagueule.fr" android:scheme="https" />
                <data android:host="pod.hoizi.net" android:scheme="https" />
                <data android:host="pod.itabs.nl" android:scheme="https" />
                <data android:host="pod.jpope.org" android:scheme="https" />
                <data android:host="pod.liebeleu.de" android:scheme="https" />
                <data android:host="pod.nomorestars.com" android:scheme="https" />
                <data android:host="pod.orkz.net" android:scheme="https" />
                <data android:host="pod.ponk.pink" android:scheme="https" />
                <data android:host="pod.promedol.com" android:scheme="https" />
                <data android:host="pod.psynet.su" android:scheme="https" />
                <data android:host="pod.roocita.com" android:scheme="https" />
                <data android:host="pod.sertelon.fr" android:scheme="https" />
                <data android:host="pod.storel.li" android:scheme="https" />
                <data android:host="pod.tchncs.de" android:scheme="https" />
                <data android:host="pod.thomasdalichow.de" android:scheme="https" />
                <data android:host="pod.volt.io" android:scheme="https" />
                <data android:host="podbay.net" android:scheme="https" />
                <data android:host="poddery.com" android:scheme="https" />
                <data android:host="podricing.pw" android:scheme="https" />
                <data android:host="pubpod.alqualonde.org" android:scheme="https" />
                <data android:host="revreso.de" android:scheme="https" />
                <data android:host="ruhrspora.de" android:scheme="https" />
                <data android:host="russiandiaspora.org" android:scheme="https" />
                <data android:host="shrekislove.us" android:scheme="https" />
                <data android:host="social.acclaro.digital" android:scheme="https" />
                <data android:host="social.baldr.io" android:scheme="https" />
                <data android:host="social.daxbau.net" android:scheme="https" />
                <data android:host="social.elaon.de" android:scheme="https" />
                <data android:host="social.lanham.id.au" android:scheme="https" />
                <data android:host="social.mbuto.me" android:scheme="https" />
                <data android:host="socializer.cc" android:scheme="https" />
                <data android:host="spora.zone" android:scheme="https" />
                <data android:host="subvillage.de" android:scheme="https" />
                <data android:host="sysad.org" android:scheme="https" />
                <data android:host="teki.be" android:scheme="https" />
                <data android:host="therealtalk.org" android:scheme="https" />
                <data android:host="thinkopen.net" android:scheme="https" />
                <data android:host="tippentappen.de" android:scheme="https" />
                <data android:host="whatsnewz.com" android:scheme="https" />
                <data android:host="wk3.org" android:scheme="https" />
                <data android:host="www.datataffel.dk" android:scheme="https" />
                <data android:host="www.diasporaix.de" android:scheme="https" />
                <data android:host="diaspora.hofud.com" android:scheme="https" />
                <data android:host="diaspora.softwarelivre.org" android:scheme="https" />
                <data android:host="confetticake.club" android:scheme="https" />
                <data android:host="diaspote.org" android:scheme="https" />
                <data android:host="diaspora.zone" android:scheme="https" />
                <data android:host="pod.userzap.de" android:scheme="https" />
                <!--@@@ PODLIST END-->
            </intent-filter>

        </activity>

    </application>

</manifest>
